[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
	shallow = true
