libs/** linguist-vendored=true
resources/** linguist-vendored=true

include/**/*.h linguist-language=c++
include/**/*.hpp linguist-language=c++
engine/**/*.hpp linguist-language=c++
engine/**/*.h linguist-language=c++
engine/**/*.cpp linguist-language=c++
src/**/*.hpp linguist-language=c++
src/**/*.h linguist-language=c++
